
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/about.css">
    <title>About me Page</title>
</head>
<body>
    <div class="navbar">
        <ul>
           <li><a class = listitem href="/">Home</a></li>
           <li><a href="about">About</a></li>
           <li><a href="contact">Contact</a></li>
           <li><a href="services">Services</a></li>
        </ul>
    </div>
    <div class="container">
        <h1>Patrick Zhen</h1>
        <h2>Lover of all dogs</h2>
        <div class= "picture">
            <img src="" alt="photo">
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia labore delectus eius magnam ad ratione perspiciatis. Hic iure at libero ab esse architecto! Deleniti atque voluptates cupiditate facere doloremque explicabo.
        </p>
        <a href="contact" class= button>Contact Me!</a>
    </div>
</body>
</html>
