<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/contact.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <ul>
           <li><a class = listitem href="/">Home</a></li>
           <li><a href="about">About</a></li>
           <li><a href="contact">Contact</a></li>
           <li><a href="services">Services</a></li>
        </ul>
    </div>
    <div class="form-container">
        <form action="contact" method="POST">
            {% csrf_token %}
            <h1>Contact me!</h1>
            <div class="form-inner">
                <div class="input-holder">
                    <input type="text" class="input-text" id = "name" name = "name" required>
                    <span class="label">Full Name</span>
                </div>
                <div class="input-holder">
                    <input type="email" class="input-text" id = "email" name = "email" required>
                    <span class="label">Email</span>
                </div>
                <div class="input-holder">
                    <input type="phone" class="input-text" id = "phone" name = "phone" required>
                    <span class="label">Phone Number</span>
                </div>
                <div class="input-holder">
                    <textarea required id = "desc" name= "desc"></textarea>
                    <span class="label">Message</span>
                </div>
                <button type= "submit">submit</button>
            </div>
        </form>
    </div>
</body>
</html>