<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home Page</title>
   <link rel="stylesheet" href="/static/Styles.Css">
</head>
<body>
   <div class="background">
      <div class="header">
         <h1>Zhen Walks</h1>
      </div>
      <div class="navbar">
         <ul>
            <li><a class = listitem href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="services">Services</a></li>
         </ul>
      </div>
      <div class="middle">
         <h1>Your Best Friend Deserves A Zhen Walk</h1>
      </div>
   </div>
</body>
</html>