<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/service.css">
    <title>Services</title>
</head>
<body>
    <div class="navbar">
        <ul>
           <li><a class = listitem href="/">Home</a></li>
           <li><a href="about">About</a></li>
           <li><a href="contact">Contact</a></li>
           <li><a href="services">Services</a></li>
        </ul>
    </div>
    <section class="services">
        <div class="s-heading">
        <h1>Ser<font color="#4a90e2">vic</font>es</h1>
        <p>We provide the best in class Services for our customers</p>
        </div>
        <div class="s-box-container">
        <div class="s-box">
        <div class="bar"></div>
        <img src="/static/images/IMG_7312 (1) (1).jpg" alt="">
        <h1>Dog Walking</h1>
        <p>Give your dog an amaZhen walk for the low cost of $30 per walk</p>
        <a href="#" class= "s-btn">Click for more</a>
        </div>
        <div class="s-box">
            <div class="bar"></div>
            <img src="/static/images/FullSizeR_5.jpg" alt="">
            <h1>Dog Sitting</h1>
            <p>Give your dog an amaZhen dogsit</p>
            <a href="#" class= "s-btn">Click for more</a>
        </div>
        </div>
    </section>
</body>
</html>